<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width: monsterHealth+'%'}"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width: playerHealth+'%'}"></div>
        </div>
      </section>
      <section class="container" v-if="winner!==null">
        <h1>Game over!</h1>
        <h3 v-if="winner=='draw'">Draw</h3>
        <h3 v-else-if="winner=='player'">You win!</h3>
        <h3 v-else-if="winner=='monster'">You lose!</h3>
        <button @click="startingGame"> Start new game</button>
      </section>
      <section id="controls" v-else>
        <button @click="attackMonster" :disabled="gameOver">ATTACK</button>
        <button :disabled="usedSpecialAttack % 3 !== 0" @click="specialAttack">SPECIAL ATTACK</button>
        <button @click="healPlayer" :disabled="gameOver">HEAL</button>
        <button :disabled="gameOver" @click="surrender=true">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
            <li v-for="logMessage in logMessages">
              <span style="color: rgb(254, 117, 231);" v-if="logMessage.actionBy==='You'">You</span> 
              <span style="color: rgb(247, 215, 55);" v-else>Monster</span> 
              - 
              <span v-if="logMessage.actionType==='heal'"> healed - <span style="color: green;">{{ logMessage.actionValue }}</span> </span>
              <span v-else-if="logMessage.actionType==='attack'"> dealt - <span style="color: red;">{{ logMessage.actionValue }}</span> </span>
              <span v-else> used special attack and dealt - <span style="color: red;">{{ logMessage.actionValue }}</span></span>
              
            </li>
        </ul>
      </section>
    </div>
  </body>
</html>
